<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./vendor/autoload.php">
    <testsuites>
        <testsuite name="CaribooPaymentSipsBundle">
            <directory suffix="Test.php">./Tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <!-- Sandbox Credentials only :) : to customize with your API paths ! -->
        <server name="MERCHANT_ID" value="011223344551111" />
        <server name="MERCHANT_COUNTRY" value="fr" />
        <server name="PATHFILE" value="/var/www/com.bebe-nounou/app/config/sips/pathfile" />
        <server name="REQUEST_PATH" value="/var/www/com.bebe-nounou/bin/sips/glibc-2.5-42/request" />
        <server name="RESPONSE_PATH" value="/var/www/com.bebe-nounou/bin/sips/glibc-2.5-42/response" />
    </php>
</phpunit>
